<!--- TEMPLATE FOR STATIC PAGE --->
{{!< default}}

<div class="container">
	
	<!-- HEADER COLUMN --->	
	<div class="header-col">
		<header>
			{{> header }}	
		</header>
	</div>

	<!--- MAIN COLUMN --->
	<div class="main-col">
		<main>
			<div class="post-entry">
				<!--- POST CONTENT --->
				{{#post}}	
				<article role="article" itemscope itemtype="http://schema.org/Article" class="postlistArticle">
					<h1 class="post-title">{{title}}</h1>
					<div class="post-info">
						{{#if tags}}
							<div class="tags">
							<i class="fa fa-tags fa-lg"></i> {{tags separator=" | "}}
							</div>
						{{/if}}
					</div>

					<span>
						<!--- github BUTTON --->
						<a href="www.github.com/JoeDou" title="Github">
							<div class="header-menu-button">
								<span class="fa-stack header-menu-button-icon">
									<i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-github fa-stack-1x"></i>
								</span>
							</div>
						</a>
						
						<!--- Linked In BUTTON --->
						<a href="www.linkedin.com/in/joedou" title="Linked In">
							<div class="header-menu-button">
								<span class="header-menu-button-label">
									ABOUT
								</span>
								<span class="fa-stack header-menu-button-icon">
									<i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-linkedinfa-stack-1x"></i>
								</span>
							</div>
						</a>
					</span>

					<div class="postContent">
						{{content}} 
					</div>
				</article>
				{{/post}}	
			</div>
		</main>
		<footer>
			{{> footer}}
		</footer>
	</div>
</div>

